/*弹窗css*/
.m-modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color:rgba(0,0,0,0.5);
	display: none;
	z-index: 999;
}
.modal-body{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 308px;
	height: 228px;
	margin-top: -144px;
	margin-left: -194px;
	padding: 30px 40px;
	background-color: rgb(255,255,255);
	z-index: 1000;
}
.modal-close{
	width: 10px;
	height: 10px;
	position: absolute;
	top: 10px;
	right: 8px;
	background: url(images/littleicon.png) 0 -80px;
	cursor: pointer;
}
.modal-body h2{
	font: 18px/18px '微软雅黑';
	margin-bottom: 20px;
}
.modal-body input{
	width: 293px;
	height: 43px;
	border: 1px solid #dfdfdf;
	font: 16px/43px '微软雅黑';
	text-indent: 5px;
	background-color: #fafafa;
	box-shadow: inset 2px 2px #f1f1f1;
	outline: none;
}
.modal-body .input-info{
	font: 14px/16px '微软雅黑';
	height: 16px;
}
.modal-body button{
	width: 293px;
	height: 46px;
	background-color: #39a030;
	font: 16px/46px '微软雅黑';
	color: white;
	text-align: center;
	margin-top: 14px;
	border: none;
	box-shadow: 2px 2px #d5e3da;
}
#modal .info{
	position: relative;
	display: inline-block;
	width: 9px;
	height: 11px;
	margin-left: 5px;
	background: url(images/littleicon.png) 0 -63px;
}
#modal .info-text{
	display: none;
	position: absolute;
	left: 15px;
	padding: 	4px;
	font-size: 12px;
	font-style: normal;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 4px;

}
#modal .info:hover .info-text{
	display: block;
}