
*{
	margin: 0;padding: 0;
	font-family: "微软雅黑";
	border: none;
}
/*body,html{
	height: 2915px;
	width: 1616px;
}
.notice-f,.head,.osm,.course,.foot{
	width: 1205px;
	margin: 0 auto;
}*/
.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;color: #39a030;
}


/*消息通知条*/
.notice-f{
	width: 1616px;
	height: 36px;
	background-color: #f3f3f3;
}
.notice{
	margin: 0 auto;
	width: 1205px;
	line-height: 36px;
	font: 12px/36px "微软雅黑";
}
.notice-left,.notice-right{
	display: inline-block;
}
.notice-right{
	float: right;
}
.notice-right:hover i{
	background-position: -9px 0;
}
.notice-right:hover {
	color: #39a030;
	cursor: pointer;
}
.notice-right i{
	display: inline-block;
	width: 9px;
	height: 9px;
	margin-right: 6px;
	vertical-align: middle;
	background-image: url(images/littleicon.png);
}


/*顶部头部*/
.head{
	margin: 0 auto;
	width: 1205px;
	height: 87px;
	position: relative;
}
.head-left,.head-right{
	display: inline-block;
}
.head-right{
	float: right;
	line-height: 87px;
}
.head-left{
}
.logo-w{
	display: inline-block;
	width: 70px;
	height: 20px;
	margin-right: 12px;
	background-image: url(images/middleicon.png);
	background-repeat: no-repeat;
}

.follow{
	display: inline-block;
	height: 21px;
	width: 54px;
	margin-right: 15px;
	background-position: -96px 0;
	background-repeat: no-repeat;
	background-image: url(images/middleicon.png);
	cursor: pointer;
}
.follow:hover{
	background-position: -96px -21px;
}
.fans{
	display: inline-block;
	font: 12px/87px "å®‹ä½“";
	position: relative;
	top: -7px;
}
.head h1{
	display: inline;
	font-size: 22px;
	line-height: 87px;
	margin-right: 20px;
	vertical-align: 3px;
}
.followed{
	display: none;
	font: 12px/12px '微软雅黑';
	position: relative;
	top: -7px;
	border: 1px solid #efefef;
	border-radius: 1px;
	padding: 3px 6px 4px 22px;
	background-color: #f8f8f8;
}
.followed:hover{
	background-color: transparent;
}
.followed span{
	color: #333;
}
.followed a{
	color: #999;
}
.followed a:hover{
	color: #39a039;
}
.followed .bingo{
	display: inline-block;
	width: 11px;
	height: 9px;
	position: absolute;
	top: 5px;
	left: 6px;
	background: url(images/littleicon.png) -25px 0;
}
.followed .string{
	display: inline-block;
	width: 1px;
	height: 10px;
	margin-right: 5px;
	margin-left: 7px;
	background-color: #ccc;

}


.head-right a{
	margin-left: 52px;
}
.search{
	display: inline-block;
	height: 18px;
	width: 18px;
	margin-left: 20px;
	margin-right: 15px;
	background-image: url(images/littleicon.png);
	background-position: 0 -20px;
}
.search:hover{
	background-position: -24px -20px;
}

/*banner*/
.banner-wrap *{
	border: none;
}
.banner{
	height: 460px;
}
.banner img{
	display: block;
}

/*三个产品*/
.osm{
	display: flex;
	justify-content: space-between;
	height: 300px;
}
.osm-o,.osm-s,.osm-m{
	flex: 1;
}
.osm-o-icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 90px;
	background-image: url(images/middleicon.png);
	background-position: 0 -21px;
}
.osm-s-icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 90px;
	background-image: url(images/middleicon.png);
	background-position: 0 -101px;
}
.osm-m-icon{
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-bottom: 90px;
	background-image: url(images/middleicon.png);
	background-position: 0 -181px;
}
.osm-dsr{
	display: inline-block;
	height: 250px;
	width: 280px;
	padding: 10px;
	padding-top: 40px;
}
.osm-dsr h2{
	font-weight: normal;
}
.osm-dsr p{
	margin-top: 20px;
	margin-bottom: 30px;
}
.osm-dsr a{
	color: #39a030;
}



/*工作环境*/
.env{
	display: flex;
	height: 220px;
}
.env div{
	flex: 1;
}


/*课程*/
.course{
	height: 1467px;
	padding-top: 84px;
}
.course-main{
	margin-right: 225px;
}
.course-side{
	float: right;
	width: 225px;
}
.course-side h2{
	font: 16px/55px "微软雅黑";
	text-indent: 20px;
	border-right:1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
}
.course-video{
	font: 14px/30px "微软雅黑";
	height: 130px;
	padding: 10px 20px 20px;
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
}
.course-video img{
	width: 180px;
	height: 110px;
}
.course-side ul{
	height: 720px;
	padding: 20px 20px 0 20px;
	border: 1px solid #ebebeb;
	border-top: none;
}
.course-side li{
	display: block;
	height: 50px;
	list-style: none;
	padding-bottom: 20px;
}
.course-side li img{
	float: left;
	margin-right: 12px;
}
.course-side li h3{
	font: 14px/14px "微软雅黑";
	margin-bottom: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.course-side li p{
	font: 9px/11px "微软雅黑";
	color: #9c999d;
	text-indent: 16px;
	background-image: url(images/littleicon.png);
	background-position: 62px -64px;
	background-repeat: no-repeat;

}
.course-main-tab{
	width: 400px;
	height: 50px;
	margin-bottom: 30px;
	border-right: 1px solid #d3d3d3;
	border-bottom: 2px solid #d3d3d3;
}
.course-main-tab h3{
	display: inline-block;
	float: left;
	width: 200px;
	font: 20px/50px "微软雅黑";
	text-align:center;
	cursor: pointer;
}
.course-main-tab h3:first-child{
	background-color: #39a030;
}
.course-main ul li{
	display: inline-block;
	float: left;
	list-style: none;
	width: 25%;
	height: 229px;
	padding: 0 20px 20px 0;
	box-sizing: border-box;
}
.course-main h4{
	font: 12px/12px "微软雅黑";
	margin-top: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.course-main a{
	font: 12px/12px "微软雅黑";
	color: #999999;
	margin-top: 10px;
}
.course-main-b{
	padding: 5px;
	border-left: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-bottom: 1px solid #d3d3d3;
}
.course-main-b:hover{
	outline: 1px solid #d3d3d3;
}
.course-main-b div{
	width: 38px;
	height: 16px;
	margin-top: 8px;
	border: 1px solid #dddddd;
	border-radius: 1px;
	text-indent: 16px;
	font: 8px/16px "微软雅黑";
	color: #999999;
	background-image: url(images/littleicon.png);
	background-position: 0 -61px;
	background-repeat: no-repeat;
}
.course-main ul li span{
	font: 12px/12px "微软雅黑";
	color: #ff3f00;
}
.pages{
	height: 20px;
	padding: 10px 225px 0 660px;
}
.pages li{
	float: left;
	list-style: none;
	text-align:center;
}
.pages a{
	font: 14px/20px "微软雅黑";
	display: inline-block;
	width: 30px;
	height: 20px;
}
.hover,.pages a:hover{
	background-color: #9dd8b1;
	color: white;
	text-decoration: none;
}
.pages-on{
	color: #39a030;
}
/*底部*/

.foot-b{
	background-color: #2c3339;
}
.foot{
	height: 260px;
	color: #ffffff;
}
.foot a{
	color: #ffffff;
}
.foot-left{
	float: left;
	width: 500px;
}
.foot-right{
	margin-left: 500px;
}
.logo-b{
	display: inline-block;
	width: 70px;
	height: 20px;
	margin: 94px 12px 31px 50px;
	background-image: url(images/middleicon.png);
	background-position: 0 -281px;
	background-repeat: no-repeat;
}
.foot-left h1{
	display: inline-block;
	vertical-align: 35px;
	font: 22px/22px "微软雅黑";
	color: #39a030;
}
.foot-left p{
	font: 12.5px/12.5px "微软雅黑";
	margin-bottom: 14px;
}
.foot-right ul{
	float: left;
	margin: 80px auto auto 90px;
}
.foot-right ul li{
	list-style: none;
	font: 12.5px/29.17px "微软雅黑";
}
.foot-right ul li a{
	font: 14.58px/26.17px "微软雅黑";
}
.weiboicon{
	display: inline-block;
	width: 20px;
	height: 16px;
	background-image: url(images/littleicon.png);
	background-position: -25px -40px;

}